
<div ng-controller="createPatientController">
	<div id="page-heading">
	    <ol class="breadcrumb">
	        <li><a href="/">Patients</a></li>
	        <li class="active">Add patient</li>
	    </ol>

		<h1>Add patient</h1>  
	</div>

	<div class="container-fluid">
		<panel panel-class="panel" data-heading="Patient details">
			<div class="col-sm-4">
				<div>
					<form name="createpatient" ng-submit="createPatient(user)" class="form-horizontal" style="margin-bottom: 0px !important;">
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user"></i></span>
									<input type="text" name="firstname" ng-model="user.firstname" class="form-control" id="firstname" placeholder="Firstname" required />
								</div>
								<span>*Required</span>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user"></i></span>
									<input type="text" name="lastname" ng-model="user.lastname" class="form-control" id="lastname" placeholder="Lastname" required />
								</div>
								<span>*Required</span>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
									<input type="email" name="email" ng-model="user.email" class="form-control" id="email" placeholder="Email" required />
								</div>
								<span>*Required</span>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
									<input type="tel" name="phone" ng-model="user.phone" class="form-control" id="phone" placeholder="Phone" required />
								</div>
								<span>*Required</span>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user"></i></span>
									<input ui-date="dateOptions" name="dob" ng-model="user.dob" class="form-control" id="dob" placeholder="Date Of Birth (MM-DD-YYYY)"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user"></i></span>
									<input type="text" name="gender" ng-model="user.gender" class="form-control" id="gender" placeholder="Gender" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-home"></i></span>
									<!--<input type="" name="" type="text" name="homeTimeZone" ng-model="user.homeTimeZone" class="form-control" id="homeTimeZone" placeholder="Patient's time zone"/>-->
									<angucomplete-alt
									  	id="homeTimeZone"
									  	minlength="0"
									  	ng-model="user.homeTimeZone"
									  	placeholder="Patient's time zone"
									  	pause="100"
									  	selected-object="user.homeTimeZone"
									  	local-data="timeZones"
									  	title-field="tz"
									  	description-field="description"
									  	input-class="form-control form-control-small"
									  	match-class="highlight"/>
								</div>
								<span>*Required</span>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-home"></i></span>
									<input type="text" name="address1" ng-model="user.address1" class="form-control" id="address1" placeholder="Address1" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-home"></i></span>
									<input type="text" name="address2" ng-model="user.address2" class="form-control" id="address2" placeholder="Address2" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-home"></i></span>
									<input type="text" name="city" ng-model="user.city" class="form-control" id="city" placeholder="City" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-home"></i></span>
									<input type="text" name="state" ng-model="user.state" class="form-control" id="state" placeholder="State" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-home"></i></span>
									<input type="text" name="country" ng-model="user.country" class="form-control" id="country" placeholder="Country" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-home"></i></span>
									<input type="text" name="zip" ng-model="user.zip" class="form-control" id="zip" placeholder="Zip"/>
								</div>
							</div>
						</div>

						<p>
						Add patient to the following groups:</p>
						<div class="form-group">
							<div class="col-sm-12">
								<label ng-repeat="group in organizationGroups">
									<input type="checkbox" checklist-model="selectedGroups" checklist-value="group"> {{group.name}} &nbsp;&nbsp;&nbsp;</input>
								</label>
							</div>
						</div>

						<div class="panel-footer">
					<div class="pull-right">
						<a href="/patients/data" class="btn btn-default">Cancel</a>
						<button type="submit" data-ng-disabled="progress.active()" class="btn btn-primary">Submit</button>
					</div>
				</div>
				<br>

					</form>
				</div>
				
			</div>
		</panel>
	</div>
</div>