
<div ng-controller="createPatientController">
	<div id="page-heading">
	    <ol class="breadcrumb">
	        <!--<li><a href="/">My Groups</a></li>
	        <li><a href="/group/data">{{ groupName }}</a></li>
	        <li class="active">Invite patient</li>-->

	        <li><a href="/">Patients</a></li>
	        <li class="active">Invite patient</li>
	    </ol>

		<h1>Invite patient</h1>  
	</div>

	<div class="container-fluid">
		<panel panel-class="panel" is-loading="loading" data-heading="Search for an existing patient">
			<div class="col-sm-4">
				<div ng-show="invite_patient_form">
					Please enter an email and/or phone number to search for an existing Pillsy user to invite to this group. <br><br>
					<form name="createpatient" ng-submit="searchPatient(user)" class="form-horizontal" style="margin-bottom: 0px !important;">
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
									<input type="email" name="email" ng-model="user.email" class="form-control" id="email" placeholder="Email" required />
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
									<input type="tel" name="phone" ng-model="user.phone" class="form-control" id="phone" placeholder="Phone" />
								</div>
							</div>
						</div>

						<div class="panel-footer">
							<div class="pull-right">
								<a href="/" class="btn btn-default">Cancel</a>
								<button type="submit" class="btn btn-primary" ng-disabled="searchLoading"> 
							        <span ng-show="searchButtonText == 'Searching'"><i class="glyphicon glyphicon-refresh glyphicon-spin"></i></span>
							        {{ searchButtonText }}
							    </button>
							</div>
						</div>
						<br>
					</form>
				</div>

				<div ng-show="invite_patient_status">{{ serverMsg }}<br><br>
					<form name="createpatient" class="form-horizontal" style="margin-bottom: 0px !important;">
						<div class="panel-footer">
							<div class="pull-right">
								<a href="/" class="btn btn-default">OK</a>
							</div>
						</div>
					</form>
				</div>

			</div>
		</panel>
	</div>
</div>
