
<div ng-controller="patientViewController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li><a href="/">My Groups</a></li>
            <li><a href="/group/data">{{ groupName }}</a></li>
            <li class="active">Patient</li>
        </ol>

        <h1>Patient: {{ patient.name }} </h1>
        <div class="options">
            <div class="btn-toolbar">
                    
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <tabset panel-tabs="true" panel-class="panel-default">
            <tab heading="Drugs">
                <div class="row">
                    <div class="col-xs-12">
                        <panel panel-class="panel-primary" data-heading="" style="height: 100%;">
                            <panel-controls>
                                <div style="position:absolute;top:20px;right: 60px;">
                                    <panel-controls>
                                        <a href="/group/patient/addmed" stye="text-align: right;"><i class="glyphicon glyphicon-plus"></i> ADD DRUG&nbsp;&nbsp;</a>
                                    </panel-controls>
                                </div>

                                <panel-control-collapse></panel-control-collapse>
                                <panel-control-refresh type="circular" is-loading="loadingMeds" ng-click="refreshMeds()"></panel-control-refresh>
                            </panel-controls>

                            <div style="height: 300px;" ng-grid="medsGridOptions"/>
                        </panel>
                    </div>
                </div>   
            </tab> 

            <tab heading="Notes">
                <div class="container-fluid">
                    <div class="row">

                    </div>
                </div>
            </tab>

            <tab heading="Messages">
                <div class="container-fluid">
                    <div class="row">

                    </div>
                </div>
            </tab>

            <tab heading="Profile">
                <div class="row">
                    <div class="col-xs-12">
                        <panel panel-class="panel-primary">
                            <div action="" class="form-horizontal row-border">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">First Name</label>
                                    <div class="col-sm-6 form-control-static" name="editableForm">
                                        <a editable-text="patient.firstname" onaftersave="postPatientData('firstname', patient.firstname)">{{ patient.firstname || 'empty' }}</a>
                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Last Name</label>
                                    <div class="col-sm-6 form-control-static">
                                        <a href="#" editable-text="patient.lastname" onaftersave="postPatientData('lastname', patient.lastname)">{{ patient.lastname || 'empty' }}</a>
                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Address1</label>
                                    <div class="col-sm-6 form-control-static">
                                        <a href="#" editable-text="patient.address1" onaftersave="postPatientData('address1', patient.address1)">{{ patient.address1 || 'empty' }}</a>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Address2</label>
                                    <div class="col-sm-6 form-control-static">
                                        <a href="#" editable-text="patient.address2" onaftersave="postPatientData('address2', patient.address2)">{{ patient.address2 || 'empty' }}</a>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">City</label>
                                    <div class="col-sm-6 form-control-static">
                                        <a href="#" editable-text="patient.city" onaftersave="postPatientData('city', patient.city)">{{ patient.city || 'empty' }}</a>
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">State</label>
                                    <div class="col-sm-6 form-control-static">
                                        <a href="#" editable-text="patient.state" onaftersave="postPatientData('state', patient.state)">{{ patient.state || 'empty' }}</a>
                                    </div>
                                </div>    

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Zip</label>
                                    <div class="col-sm-6 form-control-static">
                                        <a href="#" editable-text="patient.zip" onaftersave="postPatientData('zip', patient.zip)">{{ patient.zip || 'empty' }}</a>
                                    </div>
                                </div>  

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Mobile#</label>
                                    <div class="col-sm-6 form-control-static">
                                        <a href="#" editable-text="patient.phone" onaftersave="postPatientData('phone', patient.phone)">{{ patient.phone || 'empty' }}</a>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Home#</label>
                                    <div class="col-sm-6 form-control-static">
                                        <a href="#" editable-text="patient.phone2" onaftersave="postPatientData('phone2', patient.phone2)">{{ patient.phone2 || 'empty' }}</a>
                                    </div>
                                </div> 

                           </div>
                        </panel>
                    </div>
                </div> 
            </tab>
        </tabset>
    </div>
</div>

