
<div ng-controller="groupPatientMedController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li><a href="/">Patients</a></li>
            <!--<li><a href="/group/data">{{ activeGroup.name }}</a></li> -->
            <li><a href="/patients/patient/data">{{ activePatient.name }}</a></li>
            <li class="active">Drug History</li>
        </ol>

        <div>
            <h1>Patient: {{ activePatient.name }} <br>Drug: {{ activeDrug.name }} </h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
        
            <div class="col-lg-12" style="position: relative;">
                <tabset panel-tabs="true" panel-class="panel-default" style="position: relative;"> 
                    <tab heading="Schedule">
                        <div class="container-fluid" ng-controller="groupPatientDrugScheduleController">
                            <div class="row">
                              <div class="col-md-12">
                                    <panel panel-class="panel-primary" data-heading="">
                                        <panel-controls>
                                            <panel-control-collapse></panel-control-collapse>
                                            <panel-control-refresh type="circular" is-loading="loadingSchedule" ng-click="refreshSchedule()"></panel-control-refresh>
                                            <div style="position:absolute;top:8px;right:80px;">
                                                <input date-range-picker id="scheduleRange" class="form-control date-picker pull-right" type="text" ng-model="datePicker.date" options="{ranges: ranges, locale: {format: 'MM/DD/YYYY'} }" readonly/>
                                            </div>
                                        </panel-controls>

                                        <div class="gridStyle" style="height: 500px;" ng-grid="scheduleGridOptions"></div>
                                    </panel>
                                </div>
                            </div>
                        </div> 
                    </tab>

                    <tab heading="Logs">
                        <div class="container-fluid" ng-controller="groupPatientDrugLogsController">
                            <div class="row">
                              <div class="col-md-12">
                                    <panel panel-class="panel-primary" data-heading="">
                                        <panel-controls>
                                            <panel-control-collapse></panel-control-collapse>
                                            <panel-control-refresh type="circular" is-loading="loadingLogs" ng-click="refreshLogs()"></panel-control-refresh>
                                            <div style="position:absolute;top:8px;right:80px;">
                                                <input date-range-picker id="logsRange" class="form-control date-picker pull-right" type="text" ng-model="logsDatePicker.date" options="{ranges: logRanges, locale: {format: 'MM/DD/YYYY'} }" readonly/>
                                            </div>
                                        </panel-controls>

                                        <div class="gridStyle" style="height: 500px;" ng-grid="logGridOptions"></div>
                                    </panel>
                                </div>
                            </div>
                        </div> 
                    </tab>

                    <tab heading="Edit Drug">
                        <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-12">
                                    <panel panel-class="panel-primary" data-heading="">
                                        <div action="" class="form-horizontal row-border">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Drug name</label>
                                                <div class="col-sm-6 form-control-static" name="editableForm">
                                                    <a editable-text="activeDrug.name" onaftersave="postDrug('name', activeDrug.name)">{{ activeDrug.name || 'empty' }}</a>
                                                </div>
                                            </div>
                                                
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Drug quantity</label>
                                                <div class="col-sm-6 form-control-static">
                                                    <a href="#" editable-number="activeDrug.quantity" step="1" e-min="1" e-max="1000" ng-pattern="integerval" onaftersave="postDrug('quantity', activeDrug.quantity)">{{ activeDrug.quantity || 'empty' }}</a>
                                                </div>
                                            </div>
                                                
                                            <div class="form-group" ng-show="activeDrug.numDoses >= 0">
                                                <label class="col-sm-3 control-label">Number of pills per dose</label>
                                                <div class="col-sm-6 form-control-static">
                                                    <a href="#" editable-number="activeDrug.reminder1.quantity" step="1" e-min="1" e-max="1000" ng-pattern="integerval" onaftersave="postDrug('quantity_pills_dose', activeDrug.reminder1.quantity)">{{ activeDrug.reminder1.quantity || 'empty' }}</a>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Start date</label>
                                                <div class="col-sm-6 form-control-static">
                                                    <a href="#" editable-date="activeDrug.startTime" onaftersave="postDrug('startTime', activeDrug.startTime)">{{ activeDrug.startTime || 'empty' }}</a>
                                                </div>
                                            </div>

                                            <div class="form-group" ng-show="activeDrug.numDoses >= 0">
                                                <label class="col-sm-3 control-label">Dose 1 reminder time</label>
                                                <div class="col-sm-6 form-control-static">
                                                    <a href="#" editable-time="activeDrug.reminder1.initScheduleTime" onaftersave="postDrug('reminder1_time', activeDrug.reminder1.initScheduleTime)">{{ activeDrug.reminder1.initScheduleTime || 'empty' }} </a>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-show="activeDrug.numDoses >= 2">
                                                <label class="col-sm-3 control-label">Dose 2 reminder time</label>
                                                <div class="col-sm-6 form-control-static">
                                                    <a href="#" editable-time="activeDrug.reminder2.initScheduleTime" onaftersave="postDrug('reminder2_time', activeDrug.reminder2.initScheduleTime)">{{ activeDrug.reminder2.initScheduleTime || 'empty' }}</a>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-show="activeDrug.numDoses >= 3">
                                                <label class="col-sm-3 control-label">Dose 3 reminder time</label>
                                                <div class="col-sm-6 form-control-static">
                                                    <a href="#" editable-time="activeDrug.reminder3.initScheduleTime" onaftersave="postDrug('reminder3_time', activeDrug.reminder3.initScheduleTime)">{{ activeDrug.reminder3.initScheduleTime || 'empty' }}</a>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-show="activeDrug.numDoses >= 4">
                                                <label class="col-sm-3 control-label">Dose 4 reminder time</label>
                                                <div class="col-sm-6 form-control-static">
                                                    <a href="#" editable-time="activeDrug.reminder4.initScheduleTime" onaftersave="postDrug('reminder4_time', activeDrug.reminder4.initScheduleTime)">{{ activeDrug.reminder4.initScheduleTime || 'empty' }}</a>
                                                </div>
                                            </div>    
                                        </div>
                                    </panel>
                                </div>
                            </div>
                        </div> 
                    </tab>

                </tabset>

            </div>
        </div>
    </div> <!-- container-fluid-->
</div>
