
<div ng-controller="patientMedController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li><a href="/">Patients</a></li>
            <li><a href="/patients/patient/data">{{ activePatient.fullname }}</a></li>
            <li class="active">Drug History</li>
        </ol>

        <div>
            <h1>Patient: {{ activePatient.fullname }} <br>Drug: {{ activeDrug.name }} </h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
        
            <div class="col-lg-12" style="position: relative;">
                <tabset panel-tabs="true" panel-class="panel-default" style="position: relative;"> 
                    <tab heading="Schedule">
                        <div class="container-fluid" ng-controller="groupPatientDrugScheduleController">
                            <div class="row">
                              <div class="col-md-12">
                                    <panel panel-class="panel-primary" data-heading="">
                                        <panel-controls>
                                            <panel-control-collapse></panel-control-collapse>
                                            <panel-control-refresh type="circular" is-loading="loadingSchedule" ng-click="refreshSchedule()"></panel-control-refresh>
                                            <div style="position:absolute;top:8px;right:80px;">
                                                <input date-range-picker id="scheduleRange" class="form-control date-picker pull-right" type="text" ng-model="datePicker.date" options="{ranges: ranges, locale: {format: 'MM/DD/YYYY'} }" readonly/>
                                            </div>
                                        </panel-controls>

                                        <div class="gridStyle" style="height: 500px;" ng-grid="scheduleGridOptions"></div>
                                    </panel>
                                </div>
                            </div>
                        </div> 
                    </tab>

                    <tab heading="Events">
                        <div class="container-fluid" ng-controller="groupPatientDrugLogsController">
                            <div class="row">
                              <div class="col-md-12">
                                    <panel panel-class="panel-primary" data-heading="">
                                        <panel-controls>
                                            <panel-control-collapse></panel-control-collapse>
                                            <panel-control-refresh type="circular" is-loading="loadingLogs" ng-click="refreshLogs()"></panel-control-refresh>
                                            <div style="position:absolute;top:8px;right:80px;">
                                                <input date-range-picker id="logsRange" class="form-control date-picker pull-right" type="text" ng-model="logsDatePicker.date" options="{ranges: logRanges, locale: {format: 'MM/DD/YYYY'} }" readonly/>
                                            </div>
                                        </panel-controls>

                                        <div class="gridStyle" style="height: 500px;" ng-grid="logGridOptions"></div>
                                    </panel>
                                </div>
                            </div>
                        </div> 
                    </tab>

                    <tab heading="Edit Drug">
                        <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-12">
                                    <panel panel-class="panel-primary" data-heading="">
                                        <div action="" class="form-horizontal row-border">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Drug name</label>
                                                <div class="col-sm-6 form-control-static" name="editableForm">
                                                    <a editable-text="activeDrug.name" onaftersave="postDrug('name', activeDrug.name)">{{ activeDrug.name || 'empty' }}</a>
                                                </div>
                                            </div>
                                                
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Quantity remaining</label>
                                                <div class="col-sm-6 form-control-static">
                                                    <a href="#" editable-number="activeDrug.remaining" step="1" e-min="1" e-max="1000" ng-pattern="integerval" onaftersave="postDrug('remaining', activeDrug.remaining)">{{ activeDrug.remaining || 'empty' }}</a>
                                                </div>
                                            </div>
                                          
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">SMS Reminders</label>
                                                <div class="col-sm-6 form-control-static">
                                                    <a href="#" editable-checkbox="activeDrug.enableSMSReminders" e-title="Enable?" onaftersave="postDrug('enableSMSReminders', activeDrug.enableSMSReminders)">
                                                        {{ activeDrug.enableSMSReminders && 'Enabled' || 'Disabled' }}
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Phone Call Reminders</label>
                                                <div class="col-sm-6 form-control-static">
                                                    <a href="#" editable-checkbox="activeDrug.enableIVRReminders" e-title="Enable?" onaftersave="postDrug('enableIVRReminders', activeDrug.enableIVRReminders)">
                                                        {{ activeDrug.enableIVRReminders && 'Enabled' || 'Disabled' }}
                                                    </a>
                                                </div>
                                            </div>

                                             <div class="form-group">
                                                <label class="col-sm-3 control-label">Start date</label>
                                                <div class="col-sm-6 form-control-static">
                                                    <a href="#" editable-date="activeDrug.startTime" onbeforesave="validate(activeDrug.startTime)" onaftersave="postDrug('startTime', activeDrug.startTime)">{{ activeDrug.startTime || 'empty' }}</a>
                                                </div>
                                            </div>

                                            <div class="form-group" ng-repeat="reminder in activeDrug.drugReminders track by $index">
	                                            <div class="form-group">
	                                                <label class="col-sm-3 control-label">Dose {{ getDoseIndex($index) }} - Reminder time</label>
	                                                <div class="col-sm-6 form-control-static">
	                                                	<a href="#" editable-time="activeDrug.drugReminders[$index].initScheduleTime" onaftersave="postDrug('drugReminder', $index )">
	                                                			{{ activeDrug.drugReminders[$index].localTime || 'empty' }}</a>
	                                                </div>
	                                            </div>

	                                            <div class="form-group" ng-show="activeDrug.drugReminders.length >= 0">
	                                                <label class="col-sm-3 control-label">Dose {{ getDoseIndex($index) }} - Number of pills</label>
	                                                <div class="col-sm-6 form-control-static">
	                                                    <a href="#" editable-number="activeDrug.drugReminders[$index].quantity" step="1" e-min="1" e-max="1000" ng-pattern="integerval" onaftersave="postDrug('quantity_pills_dose', activeDrug.reminder1.quantity)">{{ activeDrug.drugReminders[$index].quantity || 'empty' }}</a>
	                                                </div>
	                                            </div>

                                            </div>
                                        </div>
                                    </panel>
                                </div>
                            </div>
                        </div> 
                    </tab>

                </tabset>

            </div>
        </div>
    </div> <!-- container-fluid-->
</div>
