<header
	id="topnav"
	class="navbar ng-hide"
	ng-class="{'navbar-fixed-top': getLayoutOption('fixedHeader'), 'navbar-static-top': !getLayoutOption('fixedHeader')}"
	role="banner"
	ng-show="!layoutLoading"
	ng-cloak
	style="background:#4098D3">
	<a ng-show="isLoggedIn" id="leftmenu-trigger" ng-click="toggleLeftBar()"></a>

	<div class="navbar-header pull-left">
		<a class="navbar-brand" href="/"></a>
	</div>

	<div class="nav navbar-nav pull-right toolbar">
		<img src="assets/img/logos/pillsylogo.png" ng-show="!isLoggedIn"/>
	</div>

	<ul class="nav navbar-nav pull-right toolbar">	
	  	<li class="dropdown" ng-show="isLoggedIn" dropdown>
			<a href class="dropdown-toggle username" dropdown-toggle>
				<img ng-src="assets/img/logos/pillsylogo.png"/>
			</a>
			
			<ul class="dropdown-menu animated userinfo arrow">
				<li class="userlinks">
					<ul class="dropdown-menu">
			  		<li>
			  			<a href="javascript:void(0)" style="cursor: default;">{{ isLoggedIn ? getLoggedInUserFullName() : "" }}
			  				<i class="pull-right glyphicon"></i>
			  			</a>
			  		</li>
			  	<li class="divider"></li>
			  	<li>
			  		<a href="/profile/edit">Edit Profile 
			  			<i class="pull-right glyphicon glyphicon-pencil"></i>
			  		</a>
			  	</li>
			  	<li class="divider"></li>
			  	<li>
			  		<a href="" class="text-right" ng-click="logOut()">Sign Out
			  		</a>
			  	</li>
			</ul>
		</li>
	</ul>

	<li class="visible-xs-block">
		<a href="#" ng-click="toggleSearchBar($event)"><i class="glyphicon glyphicon-search"></i></a>
	</li>
</header>
