<div id="page-heading">
    <ol class="breadcrumb">
        <li class="active">Team members</li>
    </ol>
    <h1>Organization Team Members</h1>   
</div>

<div class="container-fluid" ng-controller="groupMembersController">
    <div class="row">
        <div class="col-md-12">           
            <panel panel-class="panel-primary" data-heading="">
                <div style="position:absolute;top:20px;right: 60px;">
                    <panel-controls>
                        <a href="/team/invitemember" stye="text-align: right;"><i class="glyphicon glyphicon-plus"></i> INVITE MEMBER&nbsp;&nbsp;&nbsp;</a>
                        <panel-control-collapse></panel-control-collapse>
                        <panel-control-refresh type="circular" is-loading="loadingMembers" ng-click="refreshMembers()"></panel-control-refresh>
                    </panel-controls>
                </div>
                <div style="height: 500px;" ng-grid="membersGridOptions"></div>
            </panel>
        </div>
    </div>
</div> 

